<ion-content [fullscreen]="true" style="--background:#142d4c;">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-title style="color:#142d4c;text-align: center;">
                    Welcome to
                  </ion-title>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-img src="https://media-exp1.licdn.com/dms/image/C4E0BAQF8d0lzKvqzDg/company-logo_200_200/0/1519889079968?e=2147483647&v=beta&t=vBtoLgk83NcnDS10nXKzeOKcLQiPxtq6UEYvfzXiIS8"></ion-img>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="text-align:center;">
                  <ion-title style="color:#142d4c;" >
                    OPEN TRIVIA!
                  </ion-title>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-item style="--highlight-background:#142d4c;">
              <ion-label>Enter name:</ion-label>
              <ion-input type="text" placeholder="Type your name here" (ionChange)="checkName()" [(ngModel)]="username"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" size="large" [disabled]="startButton" [routerLink]="['/menu/',username]">START</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
